/*
* Google Fonts API
* 8Font used: Poppins, Comfortaa
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/*
* Color Palettes
* This color palette is from https://colorhunt.co/. 
 */
 :root {
  --primary-light: #FFC8C8;
  --primary-dark: #FF9999;
  --secondary-light: #444F5A;
  --secondary-dark: #3E4149;
  --white: #FFFAE7;
}

* {
  font-family: "Poppins";
  color: var(--primary-light);
}

body {
  background: var(--secondary-light);
}

/* * App Title */
.title-container {
  padding: 50px 0 0 0;
  text-align: center;
}

/* * Question Card */
.question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*
 * Global Styling
 * 1. Texts
*/
.font-xl {
  font-size: 30px;
}

.font-lg {
  font-size: 20px;
}

.font-md {
  font-size: 15px;
}

.font-sm {
  font-size: 10px;
}